<html lang ="en">
<head>
<style>
/* Style The Dropdown Button */

</style>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/style.css">
  <title>Aesthetically unpleasing mined minds</title>
</head>
<body>
<h1 id="name"> Aesthetically unpleasing webpage. </h1>
<div id="navBar">
  <ul id="navList">
    <li>
      <a href="http://www.minedminds.org/" target="_blank">Mined Minds</a>
      <a href="http://www.minedminds.org/training#apply" target="_blank">Join on in!</a>
  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="https://www.youtube.com/watch?v=E1RNrftsQ9g" target="_blank">My shoes are melting</a>
    <a href="https://www.youtube.com/watch?v=1T8wfdKepB4&t=20s" target="_blank">What even is this</a>
    <a href="https://www.youtube.com/watch?v=SDIWLRvc7gQ" target="_blank">W A K E M E U P</a>


    </ul>
  </div>
</div>
&copy;
</body>
</html>
